<tr>
    <td>{{this.id}}</td>
    <td>{{this.title}}</td>
    <td>{{this.year}}</td>
    <td>
        <a href="/movie/delete/{{this.id}}">Delete</a>
    </td>
    <td>
        <a href="/movie/form/{{this.id}}">Modify</a>
    </td>
</tr>